{% extends 'base.html.twig' %}
{% block title 'Portfolio > Admin' %}

{% block body %}
    <div class="padding-admin">
        <h1 class="text-blue">Administration</h1>
    </div>
    <div class="padding">
        <div class="row">
            <div class="col-6">
                <div class="card shadow">
                    <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                        Home
                    </div>
                    <table class="table table-fixed table-borderless table-responsive-xl text-center bg-white m-0">
                        <thead>
                        <tr>
                            <th scope="col" class="col-2">Image</th>
                            <th scope="col" class="col-3">Titre</th>
                            <th scope="col" class="col-5">contenu</th>
                            <th scope="col" class="col-2">
                                <a href="{{ path('admin.home.create') }}" class="btn btn-sm btn-outline-success"
                                   title="Ajouter"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="scrollbar scrollbar-black bordered-black square thin">
                        {% for home in homes %}
                            <tr>
                                <td class="col-3">
                                    {% if home.filename %}
                                        <img class="img-fluid rounded pb-2"
                                             src="{{ vich_uploader_asset(home, 'imageFile') | imagine_filter('thumb') }}"
                                             alt="card-img-top">
                                    {% else %}
                                        <img class="img-fluid rounded pb-2"
                                             src="{{ 'image/no-image.png' | imagine_filter('thumb') }}"
                                             alt="card-img-top">
                                    {% endif %}
                                </td>
                                <td class="col-3">{{ home.title }}</td>
                                <td class="col-5">{{ home.content }}</td>
                                <td class="col-2">
                                    <a href="{{ path('admin.home.edit', {id: home.id }) }}" class="btn btn-sm btn-outline-primary"><i
                                                class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <form method="post" action="{{ path('admin.home.delete', {id: home.id}) }}"
                                          style="display: inline-block"
                                          onsubmit="return confirm('Etes-vous sur de vouloir supprimer ces informations?')">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ home.id) }}">
                                        <button class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <div class="card shadow ">
                    <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                        Contact
                    </div>
                    <table class="table table-fixed table-borderless table-responsive-xl text-center bg-white m-0">
                        <thead>
                        <tr>
                            <th scope="col" class="col-1"></th>
                            <th scope="col" class="col-3">Image</th>
                            <th scope="col" class="col-3">Titre</th>
                            <th scope="col" class="col-5">contenu</th>
                        </tr>
                        </thead>
                        <tbody class="scrollbar scrollbar-black bordered-black square thin">
                        <tr>
                            <th scope="row" class="col-1">1</th>
                            <td class="col-3">Mark</td>
                            <td class="col-3">Otto</td>
                            <td class="col-5">@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">2</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-5">@fat</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">1</th>
                            <td class="col-3">Mark</td>
                            <td class="col-3">Otto</td>
                            <td class="col-5">@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">2</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-5">@fat</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">2</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-5">@fat</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow ">
                    <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                        Présentation
                    </div>
                    <table class="table table-fixed table-borderless table-responsive-xl text-center bg-white m-0">
                        <thead>
                        <tr>
                            <th scope="col" class="col-1"></th>
                            <th scope="col" class="col-3">Image</th>
                            <th scope="col" class="col-3">Titre</th>
                            <th scope="col" class="col-5">contenu</th>
                        </tr>
                        </thead>
                        <tbody class="scrollbar scrollbar-black bordered-black square thin">
                        <tr>
                            <th scope="row" class="col-1">1</th>
                            <td class="col-3">Mark</td>
                            <td class="col-3">Otto</td>
                            <td class="col-5">@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">2</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-5">@fat</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">1</th>
                            <td class="col-3">Mark</td>
                            <td class="col-3">Otto</td>
                            <td class="col-5">@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">2</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-5">@fat</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">2</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-5">@fat</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow ">
                    <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                        Formation
                    </div>
                    <table class="table table-fixed table-borderless table-responsive-xl text-center bg-white m-0">
                        <thead>
                        <tr>
                            <th scope="col" class="col-1"></th>
                            <th scope="col" class="col-3">Image</th>
                            <th scope="col" class="col-3">Titre</th>
                            <th scope="col" class="col-5">contenu</th>
                        </tr>
                        </thead>
                        <tbody class="scrollbar scrollbar-black bordered-black square thin">
                        <tr>
                            <th scope="row" class="col-1">1</th>
                            <td class="col-3">Mark</td>
                            <td class="col-3">Otto</td>
                            <td class="col-5">@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">2</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-5">@fat</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">1</th>
                            <td class="col-3">Mark</td>
                            <td class="col-3">Otto</td>
                            <td class="col-5">@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">2</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-5">@fat</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">2</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-5">@fat</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow ">
                    <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                        Projets
                    </div>
                    <table class="table table-fixed table-borderless table-responsive-xl text-center bg-white m-0">
                        <thead>
                        <tr>
                            <th scope="col" class="col-1"></th>
                            <th scope="col" class="col-3">Image</th>
                            <th scope="col" class="col-3">Titre</th>
                            <th scope="col" class="col-5">contenu</th>
                        </tr>
                        </thead>
                        <tbody class="scrollbar scrollbar-black bordered-black square thin">
                        <tr>
                            <th scope="row" class="col-1">1</th>
                            <td class="col-3">Mark</td>
                            <td class="col-3">Otto</td>
                            <td class="col-5">@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">2</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-5">@fat</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">1</th>
                            <td class="col-3">Mark</td>
                            <td class="col-3">Otto</td>
                            <td class="col-5">@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">2</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-5">@fat</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">2</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-5">@fat</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <div class="card shadow">
                    <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                        Expériences
                    </div>
                    <table class="table table-fixed table-borderless table-responsive-xl text-center bg-white m-0">
                        <thead>
                        <tr>
                            <th scope="col" class="col-1"></th>
                            <th scope="col" class="col-3">Image</th>
                            <th scope="col" class="col-3">Titre</th>
                            <th scope="col" class="col-5">contenu</th>
                        </tr>
                        </thead>
                        <tbody class="scrollbar scrollbar-black bordered-black square thin">
                        <tr>
                            <th scope="row" class="col-1">1</th>
                            <td class="col-3">Mark</td>
                            <td class="col-3">Otto</td>
                            <td class="col-5">@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">2</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-5">@fat</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">1</th>
                            <td class="col-3">Mark</td>
                            <td class="col-3">Otto</td>
                            <td class="col-5">@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">2</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-5">@fat</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">2</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-5">@fat</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <div class="card shadow ">
                    <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                        Compétences
                    </div>
                    <table class="table table-fixed table-borderless table-responsive-xl text-center bg-white m-0">
                        <thead>
                        <tr>
                            <th scope="col" class="col-1"></th>
                            <th scope="col" class="col-3">Image</th>
                            <th scope="col" class="col-3">Titre</th>
                            <th scope="col" class="col-5">contenu</th>
                        </tr>
                        </thead>
                        <tbody class="scrollbar scrollbar-black bordered-black square thin">
                        <tr>
                            <th scope="row" class="col-1">1</th>
                            <td class="col-3">Mark</td>
                            <td class="col-3">Otto</td>
                            <td class="col-5">@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">2</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-5">@fat</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">1</th>
                            <td class="col-3">Mark</td>
                            <td class="col-3">Otto</td>
                            <td class="col-5">@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">2</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-5">@fat</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-1">2</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-5">@fat</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
