{% extends 'base.html.twig' %}
{% block title 'Portfolio > Admin' %}

{% block body %}
    <div class="padding-admin">
        <h1>Administration</h1>
    </div>
    <div class="padding">
        <div class="row">
            <div class="col-6">
                <div class="card shadow">
                    <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                        Home
                    </div>
                    <table class="table table-fixed table-borderless table-responsive-xl text-center bg-white m-0">
                        <thead>
                        <tr>
                            <th scope="col" class="col-2">Image</th>
                            <th scope="col" class="col-2">Titre</th>
                            <th scope="col" class="col-6">Contenu</th>
                            <th scope="col" class="col-2">
                                <a href="{{ path('admin.home.create') }}" class="btn btn-sm btn-outline-success"
                                   title="Ajouter"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="scrollbar scrollbar-black bordered-black square thin">
                        {% for home in homes %}
                            <tr>
                                <td class="col-2">
                                    {% if home.filename %}
                                        <img class="img-fluid rounded pb-2"
                                             src="{{ vich_uploader_asset(home, 'imageFile') | imagine_filter('small') }}"
                                             alt="card-img-top">
                                    {% else %}
                                        <img class="img-fluid rounded pb-2"
                                             src="{{ 'images/no-image.png' | imagine_filter('small') }}"
                                             alt="card-img-top">
                                    {% endif %}
                                </td>
                                <td class="col-2">{{ home.title }}</td>
                                <td class="col-6">{{ home.content }}</td>
                                <td class="col-2">
                                    <a href="{{ path('admin.home.edit', {id: home.id }) }}"
                                       class="btn btn-sm btn-outline-primary"><i
                                                class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <form method="post" action="{{ path('admin.home.delete', {id: home.id}) }}"
                                          style="display: inline-block"
                                          onsubmit="return confirm('Etes-vous sur de vouloir supprimer ces informations?')">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ home.id) }}">
                                        <button class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-o"
                                                                                         aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <div class="card shadow ">
                    <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                        Contact
                    </div>
                    <table class="table table-fixed table-borderless table-responsive-xl text-center bg-white m-0">
                        <thead>
                        <tr>
                            <th scope="col" class="col-1"></th>
                            <th scope="col" class="col-3">Image</th>
                            <th scope="col" class="col-3">Titre</th>
                            <th scope="col" class="col-5">contenu</th>
                        </tr>
                        </thead>
                        <tbody class="scrollbar scrollbar-black bordered-black square thin">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12">
                <div class="card shadow">
                    <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                        Présentation
                    </div>
                    <table class="table table-fixed-2 table-borderless table-responsive-xl text-center bg-white m-0">
                        <thead>
                        <tr>
                            <th scope="col" class="col-1">Image</th>
                            <th scope="col" class="col-1">Titre</th>
                            <th scope="col" class="col-3">Contenu</th>
                            <th scope="col" class="col-3">Contenu 1</th>
                            <th scope="col" class="col-3">Contenu 2</th>
                            <th scope="col" class="col-1">
                                <a href="{{ path('admin.about.create') }}" class="btn btn-sm btn-outline-success"
                                   title="Ajouter"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="scrollbar scrollbar-black bordered-black square thin">
                        {% for about in abouts %}
                            <tr>
                                <td class="col-1">
                                    {% if about.filename %}
                                        <img class="img-fluid rounded pb-2"
                                             src="{{ vich_uploader_asset(about, 'imageFile') | imagine_filter('small') }}"
                                             alt="card-img-top">
                                    {% else %}
                                        <img class="img-fluid rounded pb-2"
                                             src="{{ 'images/no-image.png' | imagine_filter('small') }}"
                                             alt="card-img-top">
                                    {% endif %}
                                </td>
                                <td class="col-1">{{ about.title }}</td>
                                <td class="col-3 text-left">{{ about.content }}</td>
                                <td class="col-3 text-left">{{ about.content1 }}</td>
                                <td class="col-3 text-left">{{ about.content2 }}</td>
                                <td class="col-1">
                                    <a href="{{ path('admin.about.edit', {id: about.id }) }}"
                                       class="btn btn-sm btn-outline-primary"><i
                                                class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <form method="post" action="{{ path('admin.about.delete', {id: about.id}) }}"
                                          style="display: inline-block"
                                          onsubmit="return confirm('Etes-vous sur de vouloir supprimer ces informations?')">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('delete' ~ about.id) }}">
                                        <button class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-o"
                                                                                         aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <div class="card shadow ">
                    <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                        Formation
                    </div>
                    <table class="table table-fixed table-borderless table-responsive-xl text-center bg-white m-0">
                        <thead>
                        <tr>
                            <th scope="col" class="col-2">Image</th>
                            <th scope="col" class="col-3">contenu</th>
                            <th scope="col" class="col-2">Ecole</th>
                            <th scope="col" class="col-2">Date</th>
                            <th scope="col" class="col-2">Url</th>
                            <th scope="col" class="col-1">
                                <a href="{{ path('admin.formation.create') }}" class="btn btn-sm btn-outline-success"
                                   title="Ajouter"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="scrollbar scrollbar-black bordered-black square thin">
                        {% for formation in formations %}
                            <tr>
                                <td class="col-2">
                                    {% if formation.filename %}
                                        <img class="img-fluid rounded pb-2"
                                             src="{{ vich_uploader_asset(formation, 'imageFile') | imagine_filter('small') }}"
                                             alt="card-img-top">
                                    {% else %}
                                        <img class="img-fluid rounded pb-2"
                                             src="{{ 'images/no-image.png' | imagine_filter('small') }}"
                                             alt="card-img-top">
                                    {% endif %}
                                </td>
                                <td class="col-3">{{ formation.content }}</td>
                                <td class="col-2">{{ formation.schoolname }}</td>
                                <td class="col-2">{{ formation.schooldate }}</td>
                                <td class="col-2">{{ formation.path }}</td>
                                <td class="col-1">
                                    <a href="{{ path('admin.formation.edit', {id: formation.id }) }}"
                                       class="btn btn-sm btn-outline-primary"><i
                                                class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <form method="post" action="{{ path('admin.formation.delete', {id: formation.id}) }}"
                                          style="display: inline-block"
                                          onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette formation?')">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('delete' ~ formation.id) }}">
                                        <button class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-o"
                                                                                         aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <div class="card shadow ">
                    <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                        Projets
                    </div>
                    <table class="table table-fixed table-borderless table-responsive-xl text-center bg-white m-0">
                        <thead>
                        <tr>
                            <th scope="col" class="col-2">Image</th>
                            <th scope="col" class="col-2">Titre</th>
                            <th scope="col" class="col-4">contenu</th>
                            <th scope="col" class="col-2">Url</th>
                            <th scope="col" class="col-2">
                                <a href="{{ path('admin.projet.create') }}" class="btn btn-sm btn-outline-success"
                                   title="Ajouter"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="scrollbar scrollbar-black bordered-black square thin">
                        {% for projet in projets %}
                            <tr>
                                <td class="col-2">
                                    {% if projet.filename %}
                                        <img class="img-fluid rounded pb-2"
                                             src="{{ vich_uploader_asset(projet, 'imageFile') | imagine_filter('small') }}"
                                             alt="card-img-top">
                                    {% else %}
                                        <img class="img-fluid rounded pb-2"
                                             src="{{ 'images/no-image.png' | imagine_filter('small') }}"
                                             alt="card-img-top">
                                    {% endif %}
                                </td>
                                <td class="col-2">{{ projet.title }}</td>
                                <td class="col-4">{{ projet.content }}</td>
                                <td class="col-2">{{ projet.path }}</td>
                                <td class="col-2">
                                    <a href="{{ path('admin.projet.edit', {id: projet.id }) }}"
                                       class="btn btn-sm btn-outline-primary"><i
                                                class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <form method="post" action="{{ path('admin.projet.delete', {id: projet.id}) }}"
                                          style="display: inline-block"
                                          onsubmit="return confirm('Etes-vous sur de vouloir supprimer ces informations?')">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('delete' ~ projet.id) }}">
                                        <button class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-o"
                                                                                         aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <div class="card shadow">
                    <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                        Expériences
                    </div>
                    <table class="table table-fixed table-borderless table-responsive-xl text-center bg-white m-0">
                        <thead>
                        <tr>
                            <th scope="col" class="col-1"></th>
                            <th scope="col" class="col-3">Image</th>
                            <th scope="col" class="col-3">Titre</th>
                            <th scope="col" class="col-5">contenu</th>
                        </tr>
                        </thead>
                        <tbody class="scrollbar scrollbar-black bordered-black square thin">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <div class="card shadow ">
                    <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                        Compétences
                    </div>
                    <table class="table table-fixed table-borderless table-responsive-xl text-center bg-white m-0">
                        <thead>
                        <tr>
                            <th scope="col" class="col-1"></th>
                            <th scope="col" class="col-3">Image</th>
                            <th scope="col" class="col-3">Titre</th>
                            <th scope="col" class="col-5">contenu</th>
                        </tr>
                        </thead>
                        <tbody class="scrollbar scrollbar-black bordered-black square thin">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
