{% extends 'base.html.twig' %}
{% block title 'Portfolio > Admin' %}

{% block body %}
{#    <div class="row m-0 padding-admin">#}
{#        <div class="col-4"></div>#}
{#        <div class="col-4">#}
{#            <h1 class="text-blue pb-4">Administration</h1>#}
{#        </div>#}
{#        <div class="col-4">#}
{#            <div class="offset-0 col-12 offset-lg-2 col-lg-8 text-right">#}
{#                <a href="{{ path('admin.email') }}" class="btn btn-md bg-success px-5 text-white">Email<i#}
{#                            class="fa fa-chevron-right pl-3" aria-hidden="true"></i></a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="row m-0 padding-admin">
        <div class="offset-2 col-8">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('primary') %}
                <div class="alert alert-primary">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row m-0 ">
        <div class="col-12">
            <ul class="nav nav-pills" id="myTab" role="tablist">
                <li class="nav-item text-center" role="presentation" style="width: 12.5%">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#tab-home" role="tab"
                       aria-controls="tab-home" aria-selected="true">Accueil</a>
                </li>
                <li class="nav-item text-center" role="presentation" style="width: 12.5%">
                    <a class="nav-link" id="about-tab" data-toggle="tab" href="#tab-about" role="tab"
                       aria-controls="about"
                       aria-selected="false">About</a>
                </li>
                <li class="nav-item text-center" role="presentation" style="width: 12.5%">
                    <a class="nav-link" id="experience-tab" data-toggle="tab" href="#tab-experience" role="tab"
                       aria-controls="experience" aria-selected="false">Expériences</a>
                </li>
                <li class="nav-item text-center" role="presentation" style="width: 12.5%">
                    <a class="nav-link" id="projet-tab" data-toggle="tab" href="#tab-projet" role="tab"
                       aria-controls="projet"
                       aria-selected="false">Projets</a>
                </li>
                <li class="nav-item text-center" role="presentation" style="width: 12.5%">
                    <a class="nav-link" id="skill-tab" data-toggle="tab" href="#tab-skill" role="tab"
                       aria-controls="skill"
                       aria-selected="false">Compétences</a>
                </li>
                <li class="nav-item text-center" role="presentation" style="width: 12.5%">
                    <a class="nav-link" id="formation-tab" data-toggle="tab" href="#tab-formation" role="tab"
                       aria-controls="formation" aria-selected="false">Formations</a>
                </li>
                <li class="nav-item text-center" role="presentation" style="width: 12.5%">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#tab-contact" role="tab"
                       aria-controls="contact" aria-selected="false">Contact</a>
                </li>
                <li class="nav-item text-center" role="presentation" style="width: 12.5%">
                    <a class="nav-link" id="email-tab" data-toggle="tab" href="#tab-email" role="tab"
                       aria-controls="email"
                       aria-selected="false">E-mail</a>
                </li>
            </ul>
            <div class="tab-content padding" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-home" role="tabpanel" aria-labelledby="accueil-tab">
                    {{ include('component/admin/_home.html.twig') }}
                </div>
                <div class="tab-pane fade" id="tab-about" role="tabpanel" aria-labelledby="about-tab">
                    {{ include('component/admin/_about.html.twig') }}
                </div>
                <div class="tab-pane fade" id="tab-experience" role="tabpanel" aria-labelledby="experience-tab">
                    {{ include('component/admin/_experience.html.twig') }}
                </div>
                <div class="tab-pane fade" id="tab-projet" role="tabpanel" aria-labelledby="projet-tab">
                    {{ include('component/admin/_projet.html.twig') }}
                </div>
                <div class="tab-pane fade" id="tab-skill" role="tabpanel" aria-labelledby="skill-tab">
                    {{ include('component/admin/_skill.html.twig') }}
                </div>
                <div class="tab-pane fade" id="tab-formation" role="tabpanel" aria-labelledby="formation-tab">
                    {{ include('component/admin/_formation.html.twig') }}
                </div>
                <div class="tab-pane fade" id="tab-contact" role="tabpanel" aria-labelledby="contact-tab">
                    {{ include('component/admin/_contact.html.twig') }}
                </div>
                <div class="tab-pane fade" id="tab-email" role="tabpanel" aria-labelledby="email-tab">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
