{% extends 'base.html.twig' %}
{% block title 'Portfolio > Contact' %}

{% block body %}
    <div>
        {{ include('layout/nav.html.twig') }}
    </div>
    <div class="col-12 padding-contact">
        <h2 class="text-blue pb-4">Me contacter</h2>
    </div>
    <div class="offset-0 col-12 offset-lg-1 col-lg-10">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="row m-0">
            <div class="offset-3 col-6 offset-0 col-lg-6">
                {% for contact in contacts %}
                    <div class="text-center">
                        {% if contact.filename %}
                            <img class="img-fluid shadow p-0"
                                 src="{{ vich_uploader_asset(contact, 'imageFile') | imagine_filter('recPortrait') }}"
                                 alt="card-img-top">
                        {% else %}
                            <img class="img-fluid rounded-circle p-0"
                                 src="{{ 'images/no-image.png' | imagine_filter('recPortrait') }}"
                                 alt="card-img-top">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="col-12 col-lg-6">
                {{ form_start(form) }}
                <div class="row mt-2 m-0">
                    <div class="col-12 col-md-6 p-0 pr-md-2">{{ form_row(form.lastname) }}</div>
                    <div class="col-12 col-md-6 p-0 pl-md-2">{{ form_row(form.firstname) }}</div>
                </div>
                <div class="row m-0">
                    <div class="offset- col-12 p-0">{{ form_row(form.email) }}</div>
                </div>
                <div class="row m-0">
                    <div class="offset- col-12 p-0">{{ form_row(form.objet) }}</div>
                </div>
                <div class="row m-0">
                    <div class="offset-0 col-12 p-0">{{ form_row(form.content, { 'attr': {'rows': 6} }) }}</div>
                </div>
                {{ form_rest(form) }}
                <div class="text-center pb-3">
                    <button class="btn btn-primary btn-sm">{{ button|default('Envoyer') }}</button>
                </div
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
