{% extends 'base.html.twig' %}
{% block title 'Portfolio > Contact' %}

{% block body %}
    <div class="col-12 col-lg-6 ">
        {{ form_start(form) }}
        <div class="row mt-2 m-0">
            <div class="offset-1 col-10 p-0">{{ form_row(form.lastname) }}</div>
        </div>
        <div class="row m-0">
            <div class="offset-1 col-10 p-0">{{ form_row(form.firstname) }}</div>
        </div>
        <div class="row m-0">
            <div class="offset-1 col-10 p-0">{{ form_row(form.email) }}</div>
        </div>
        <div class="row m-0">
            <div class="offset-1 col-10 p-0">{{ form_row(form.content, { 'attr': {'rows': 6} }) }}</div>
        </div>
        {{ form_rest(form) }}
        <div class="text-center">
            <button class="btn btn-primary btn-md">{{ button|default('Envoyer') }}</button>
        </div
        {{ form_end(form) }}
    </div>
{% endblock %}
