{% extends 'base.html.twig' %}
{% block title 'Portfolio > Admin' %}

{% block body %}

    <div class="row m-0 padding-admin">
        <div class="col-4">
            <div class="offset-lg-2 col-lg-8 offset-0 col-12 text-center">
                <a href="{{ path('admin.index') }}" class="btn btn-md bg-success px-5 text-white"><i
                            class="fa fa-chevron-left pr-3" aria-hidden="true"></i>Administration</a>
            </div>
        </div>
        <div class="col-4">
            <h1>Liste de vos emails</h1>
        </div>
    </div>

    <div class="row">
        <div class="offset-2 col-8">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('primary') %}
                <div class="alert alert-primary">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="padding">
        <div class="row">
            <div class="col-12">
                <div class="card shadow">
                    <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                        Contact
                    </div>
                    <table class="dataTable table table-striped table-borderless text-center bg-white m-0">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>message</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="scrollbar scrollbar-black bordered-black square thin table-height-formation">
                        {% for contact in contacts %}
                            <tr>
                                <td style="width:10%">{{ contact.lastname }}</td>
                                <td style="width:10%">{{ contact.firstname }}</td>
                                <td style="width:10%">{{ contact.email }}</td>
                                <td style="width:60%">{{ contact.content }}</td>
                                <td style="width:10%">
                                    <form method="post" action="{{ path('admin.contact.delete', {id: contact.id}) }}"
                                          style="display: inline-block"
                                          onsubmit="return confirm('Etes-vous sur de vouloir supprimer ces informations?')">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('delete' ~ contact.id) }}">
                                        <button class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-o"
                                                                                         aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
