{% extends 'base.html.twig' %}
{% block title 'Compètences > création' %}

{% block body %}
    <div class="offset-0 col-12 offset-lg-4 col-lg-4 padding-home-page">
        <h1 class="text-blue pb-4">nouvelle compétence</h1>

        {{ form_start(form) }}
        <div class="row mt-2">
            <div class="col-md-12">{{ form_row(form.imageFile) }}</div>
        </div>
        <div class="row">
            <div class="col-md-12">{{ form_row(form.title) }}</div>
        </div>
        {{ form_rest(form) }}
        <div class="text-center">
            <button class="btn btn-primary btn-sm">{{ button|default('Enregistrer') }}</button>
        </div
        {{ form_end(form) }}
    </div>
{% endblock %}
