<div class="col-12 p-0">
    <div class="card shadow">
        <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
            Présentation
        </div>
        <table class="table table-striped table-borderless text-center bg-white m-0">
            <thead>
            <tr>
                <th class="td-10">Image</th>
                <th class="td-10">Titre</th>
                <th class="td-30">Contenu</th>
                <th class="td-30">Contenu 1</th>
                <th class="td-10">Contenu 2</th>
                <th class="td-10">
                    <a href="{{ path('admin.about.create') }}" class="btn btn-sm btn-outline-success"
                       title="Ajouter"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for about in abouts %}
                <tr>
                    <td class="td-10">
                        {% if about.filename %}
                            <img class="img-fluid"
                                 src="{{ vich_uploader_asset(about, 'imageFile') | imagine_filter('portrait') }}"
                                 alt="card-img-top">
                        {% else %}
                            <img class="img-fluid"
                                 src="{{ 'images/no-image.png' | imagine_filter('portrait') }}"
                                 alt="card-img-top">
                        {% endif %}
                    </td>
                    <td class="td-10">{{ about.title }}</td>
                    <td class="text-left td-30">{{ about.content }}</td>
                    <td class="text-left td-30">{{ about.content1 }}</td>
                    <td class="text-left td-10">{{ about.content2 }}</td>
                    <td class="td-10">
                        <a href="{{ path('admin.about.edit', {id: about.id }) }}"
                           class="btn btn-sm btn-outline-primary"><i
                                    class="fa fa-pencil" aria-hidden="true"></i></a>
                        <form method="post" action="{{ path('admin.about.delete', {id: about.id}) }}"
                              style="display: inline-block"
                              onsubmit="return confirm('Etes-vous sur de vouloir supprimer ces informations?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token"
                                   value="{{ csrf_token('delete' ~ about.id) }}">
                            <button class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-o"
                                                                             aria-hidden="true"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
