<div class="row padding">
    <a href="{{ path('admin.contact.create') }}" class="btn btn-md bg-success px-5 text-white"
       title="Ajouter une nouvelle informations"><i class="fa fa-plus pr-3" aria-hidden="true"></i>Nouvelle information</a>
</div>

{% for contact in contacts %}
    <div class="card my-5">
        <div class="row no-gutters shadow">
            <div class="col-md-2">
                {% if contact.filename %}
                    <img class="img-fluid"
                         src="{{ vich_uploader_asset(contact, 'imageFile') | imagine_filter('recPortrait') }}"
                         alt="card-img-top">
                {% else %}
                    <img class="img-fluid"
                         src="{{ 'images/no-image.png' | imagine_filter('recPortrait') }}"
                         alt="card-img-top">
                {% endif %}
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <div class="text-right pb-2">
                        <a href="{{ path('admin.contact.edit', {id: contact.id }) }}"
                           class="btn btn-sm btn-outline-primary"><i
                                    class="fa fa-pencil" aria-hidden="true"></i></a>
                        <form method="post" action="{{ path('admin.contact.delete', {id: contact.id}) }}"
                              style="display: inline-block"
                              onsubmit="return confirm('Etes-vous sur de vouloir supprimer ces informations?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token"
                                   value="{{ csrf_token('delete' ~ contact.id) }}">
                            <button class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-o"
                                                                             aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                    <h5 class="card-title">{{ contact.email }}</h5>
                    <p class="card-text text-truncate">{{ contact.phone }}</p>
                    <p class="card-text"><small class="text-muted">{{ contact.linkedinPath }}</small></p>
                    <p class="card-text"><small class="text-muted">{{ contact.githubPath }}</small></p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
