<div class="row padding">
    <a href="{{ path('admin.experience.create') }}" class="btn btn-md bg-success px-5 text-white"
       title="Ajouter une nouvelle expérience"><i class="fa fa-plus pr-3" aria-hidden="true"></i>Nouvelle expèrience</a>
</div>

{% for experience in experiences %}
    <div class="card my-5">
        <div class="row no-gutters shadow">
            <div class="col-md-4">
                {% if experience.filename %}
                    <img class="img-fluid"
                         src="{{ vich_uploader_asset(experience, 'imageFile') | imagine_filter('medium') }}"
                         alt="card-img-top">
                {% else %}
                    <img class="img-fluid"
                         src="{{ 'images/no-image.png' | imagine_filter('medium') }}"
                         alt="card-img-top">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="text-right pb-2">
                        <a href="{{ path('admin.experience.edit', {id: experience.id }) }}"
                           class="btn btn-sm btn-outline-primary"><i
                                    class="fa fa-pencil" aria-hidden="true"></i></a>
                        <form method="post" action="{{ path('admin.experience.delete', {id: experience.id}) }}"
                              style="display: inline-block"
                              onsubmit="return confirm('Etes-vous sur de vouloir supprimer ces informations?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token"
                                   value="{{ csrf_token('delete' ~ experience.id) }}">
                            <button class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-o"
                                                                             aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                    <h5 class="card-title">{{ experience.title }}</h5>
                    <p class="card-text text-truncate">{{ experience.content }}</p>
                    <p class="card-text"><small class="text-muted">{{ experience.path }}</small><small class="text-muted float-right">{{ experience.experiencedate }}</small></p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
