<div class="row m-0">
    <a href="{{ path('admin.skill.create') }}" class="btn btn-md bg-success px-5 text-white"
       title="Ajouter une nouvelle compétence"><i class="fa fa-plus pr-3" aria-hidden="true"></i>Nouvelle compétence</a>
</div>

<div class="row m-0">
    {% for skill in skills %}
        <div class="col-12 col-md-6 col-lg-12 col-xl-6 pt-3">
            <div class="card shadow">
                <div class="row no-gutters shadow">
                    <div class="col-12 col-md-12 col-lg-4 col-xl-6">
                        {% if skill.filename %}
                            <img class="img-fluid"
                                 src="{{ vich_uploader_asset(skill, 'imageFile') | imagine_filter('paysage') }}"
                                 alt="card-img-top">
                        {% else %}
                            <img class="img-fluid"
                                 src="{{ 'images/no-image.png' | imagine_filter('paysage') }}"
                                 alt="card-img-top">
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-12 col-lg-8 col-xl-6">
                        <div class="card-body">
                            <div class="text-right pb-2">
                                <a href="{{ path('admin.skill.edit', {id: skill.id }) }}"
                                   class="btn btn-sm btn-outline-primary"><i
                                            class="fa fa-pencil" aria-hidden="true"></i></a>
                                <form method="post" action="{{ path('admin.skill.delete', {id: skill.id}) }}"
                                      style="display: inline-block"
                                      onsubmit="return confirm('Etes-vous sur de vouloir supprimer ces informations?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token"
                                           value="{{ csrf_token('delete' ~ skill.id) }}">
                                    <button class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-o"
                                                                                     aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>
                            <h5 class="card-title">{{ skill.title }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
