{% extends 'base.html.twig' %}
{% block title 'Expériences > édition' %}

{% block body %}
    <div class="offset-0 col-12 offset-lg-4 col-lg-4 padding-home-page">
        <h1 class="text-blue pb-4">Editer une expérience</h1>

        {{ form_start(form) }}
        <div class="row mt-2">
            <div class="col-md-12">{{ form_row(form.imageFile) }}</div>
        </div>
        <div class="row">
            <div class="col-md-12">{{ form_row(form.title) }}</div>
        </div>
        <div class="row">
            <div class="col-md-12">{{ form_row(form.content, { 'attr': {'rows': 4} }) }}</div>
        </div>
        <div class="row">
            <div class="col-md-12">{{ form_row(form.experience_date) }}</div>
        </div>
        <div class="row">
            <div class="col-md-12">{{ form_row(form.path) }}</div>
        </div>
        {{ form_rest(form) }}
        <div class="text-center">
            <button class="btn btn-primary btn-lg">{{ button|default('Editer') }}</button>
        </div
        {{ form_end(form) }}
    </div>
{% endblock %}
